__pycache__
*.pyc
/data/faiss_index/
/data/product_faiss_index/
/data/enoxai.db
logs/
venv/
.venv/
.env
/data/product_image_index_ids.pkl
/data/product_image_index_ids.pkl
/data/product_image_index.faiss
/data/chat_uploads/
/data/product_images/
/data/train_image_index.log
data/agent_checkpoints.db
data/agent_checkpoints.db-shm
data/agent_checkpoints.db-wal
data/*.db
data/*.db-*